{% extends "base.html" %}

{% block content %}
<img src="{{ album.album_cover.url }} " width=200>
<h1>{{ album.title }} by <a href=" {% url 'artist-detail' album.artist.id %}">{{ album.artist }}</a></h1>
<p>{{ album.release_date }} - {{ album.genre.all|join:", " }}<p>

{% if album.rating %}
<p>Audience rated this album a {{ album.rating }} </p>
{% endif %}

<h2>Songs:</h1>
<ol>
{% for song in album.song_set.all %}
    <li>{{ song.title }} - {{ song.duration }}</li>
{% endfor %}
</ol>

{% if user.is_authenticated %}
<a href="{% url 'album-rating' album.id %}">Rate!</a>
{% endif %}
{% endblock content %}