{% extends "base.html" %}

{% block content %}
<h1>Welcome to Mango!</h1>
<p>Here are the list of albums available to rate:</p>
{% if album_list %}
<ul>
    {% for album in album_list %}
    <li>    
        <a href="{{ album.get_absolute_url }}">
            <img src="{{ album.album_cover.url }} " width=200>
            {{ album.title }} by {{ album.artist }}
        </a>
        {% if album.rating %}
        {{ album.rating }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>There are currently no albums in the catalog.</p>
{% endif %}
{% endblock content %}