<div class="demo__content">
    <div class="demo__card-cont">
      <div class="demo__card">
        <div class="demo__card__top brown">
          <div class="demo__card__img"></div>
          <p class="demo__card__name">Hungry cat 6</p>
        </div>
        <div class="demo__card__btm">
          <p class="demo__card__we">Whatever</p>
        </div>
        <div class="demo__card__choice m--reject"></div>
        <div class="demo__card__choice m--like"></div>
        <div class="demo__card__drag"></div>
      </div>
    </div>
    <p class="demo__tip">Swipe left or right</p>
  </div>
</div>